<div class="container">


  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'shared/errors', obj: @article %>
      <%= form_with(model: @article, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
        <div class="form-group row">
          <%= f.label :title, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.text_field :title, class: "form-control shadow rounded", placeholder: "Title of Article" %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :description, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.text_area :description, rows: 10, class: "form-control shadow rounded", placeholder: "Article Description" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :categories, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <div class="dropdown">
              <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton"
                      data-toggle="dropdown" style="background-color: white; color: black;">
                Select Categories
              </button>
              <div class="dropdown-menu">
                <% Category.all.each do |category| %>
                  <div class="dropdown-item">
                    <div class="form-check">
                      <%= f.check_box :category_ids, { multiple: true, class: "form-check-input" }, category.id, nil %>
                      <%= f.label :category_ids, category.name, class: "form-check-label" %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>


        <div class="form-group row justify-content-center">
          <%= f.submit class: "btn btn-outline-light btn-lg", style: "background-color: #4FB0A3;" %>
        </div>
      <% end %>
    </div>
    <div class="mb-3">
      <%= link_to '[Cancel and Return to Articles]', articles_path, class: "text-info" %>
    </div>
  </div>
</div>
